absl-py==2.0.0
accelerate==0.31.0
addict==2.4.0
aeiou==0.0.20
aiobotocore 
aiofiles==23.2.1
aiohttp 
aioitertools 
aiosignal 
alabaster 
alias-free-torch==0.0.6
altair==5.1.2
anaconda-anon-usage 
anaconda-catalogs 
anaconda-client 
anaconda-cloud-auth 
anaconda-navigator 
anaconda-project 
annotated-types 
anyio==3.7.1
appdirs==1.4.4
archspec 
argbind==0.3.9
argon2-cffi 
argon2-cffi-bindings 
arrow 
astroid 
astropy 
asttokens==2.4.1
astunparse==1.6.3
async-lru 
atomicwrites==1.4.0
attrs 
audioread==3.0.1
auraloss==0.4.0
Automat 
autopep8 
Babel 
backports.functools-lru-cache 
backports.tempfile 
backports.weakref==1.0.post1
bcrypt 
beautifulsoup4 
binaryornot 
black 
bleach 
blinker==1.8.2
bokeh 
boltons 
botocore 
Bottleneck 
braceexpand==0.1.7
Brotli 
brotlipy==0.7.0
cachetools==5.3.1
certifi 
cffi 
chardet 
charset-normalizer 
clean-fid==0.1.35
click 
clip-anytorch==2.6.0
cloudpickle 
clyent==1.2.2
colorama 
colorcet 
comm==0.2.2
conda 
conda-build 
conda-content-trust 
conda-libmamba-solver 
conda-pack 
conda-package-handling 
conda-repo-cli 
conda-token 
conda-verify==3.4.2
conda_index 
conda_package_streaming 
configparser==7.0.0
constantly 
contourpy==1.2.1
cookiecutter 
coverage==7.5.1
cryptography 
cssselect 
cycler==0.12.1
cytoolz 
daal4py==2023.1.1
dask 
dask-expr 
datashader 
dctorch==0.1.2
debugpy==1.8.1
decorator 
defusedxml 
descript-audio-codec==1.0.0
descript-audiotools==0.7.2
diff-match-patch 
dill 
distributed 
distro 
dnspython==2.6.1
docker-pycreds==0.4.0
docstring-to-markdown 
docstring_parser==0.16
docutils 
einops==0.7.0
einops-exts==0.0.4
ema-pytorch==0.2.3
email_validator==2.1.1
encodec==0.1.1
entrypoints 
et-xmlfile==1.1.0
exceptiongroup==1.1.3
executing==2.0.1
fai-trainer==0.3.0
fastapi==0.89.1
fastcore==1.5.45
fastjsonschema 
ffmpy==0.3.1
filelock==3.12.4
fire==0.6.0
flake8 
flash-attn==2.5.9.post1
Flask 
flatbuffers==24.3.25
flatten-dict==0.4.2
fonttools==4.43.1
frozendict 
frozenlist 
fsspec==2024.3.1
ftfy==6.2.0
future 
gast==0.5.4
gdown==4.7.1
gensim 
gin-config==0.5.0
gitdb==4.0.10
GitPython==3.1.37
gmpy2 
google-auth==2.23.3
google-auth-oauthlib==1.0.0
google-pasta==0.2.0
gradio==3.47.1
gradio_client==0.6.0
greenlet 
grpcio==1.59.0
gunicorn==20.1.0
gurobipy==10.0.3
h11==0.14.0
h5py==3.10.0
HeapDict 
hickle==5.0.2
holoviews 
httpcore==0.18.0
httptools==0.6.1
httpx==0.25.0
huggingface-hub==0.23.2
hvplot 
hyperlink 
idna 
imagecodecs 
imageio 
imagesize 
imbalanced-learn 
importlib-metadata==6.8.0
importlib-resources==5.12.0
incremental 
inflection==0.5.1
iniconfig==2.0.0
intake 
intervaltree 
ipykernel==6.29.3
ipython==8.22.2
ipywidgets 
isort 
itemadapter 
itemloaders 
itsdangerous 
jaraco.classes 
jedi==0.19.1
jeepney 
jellyfish 
Jinja2==3.1.2
jmespath 
joblib 
json5 
jsonmerge==1.9.2
jsonpatch 
jsonpointer==2.1
jsonschema==4.19.1
jsonschema-specifications 
julius==0.2.7
jupyter 
jupyter-console 
jupyter-events 
jupyter-lsp 
jupyter_client==8.6.1
jupyter_core==5.7.2
jupyter_server 
jupyter_server_terminals 
jupyterlab 
jupyterlab-pygments 
jupyterlab-widgets 
jupyterlab_server 
k-diffusion==0.1.1
kaleido 
keras==3.3.3
keyring 
kiwisolver==1.4.5
kornia==0.7.2
kornia_rs==0.1.3
laion-clap==1.1.4
lazy-object-proxy 
lazy_loader 
libarchive-c 
libclang==18.1.1
libmambapy 
librosa==0.9.2
lightning-utilities==0.11.2
linkify-it-py 
llvmlite 
lmdb 
local-attention==1.8.6
locket 
loguru==0.7.2
lxml 
lz4 
Markdown==3.5
markdown-it-py==2.2.0
markdown2==2.4.13
MarkupSafe 
matplotlib==3.8.0
matplotlib-inline 
mccabe 
mdit-py-plugins 
mdurl==0.1.2
menuinst 
mistune 
mkl-fft 
mkl-random 
mkl-service==2.4.0
ml-dtypes==0.3.2
more-itertools 
mpmath 
msgpack 
multidict 
multipledispatch 
mypy-extensions 
namex==0.0.8
navigator-updater 
nbclient 
nbconvert 
nbformat 
nest-asyncio 
networkx 
nltk 
notebook 
notebook_shim 
numba 
numexpr 
numpy==1.23.5
numpydoc 
nvidia-cublas-cu12==12.1.3.1
nvidia-cuda-cupti-cu12==12.1.105
nvidia-cuda-nvrtc-cu12==12.1.105
nvidia-cuda-runtime-cu12==12.1.105
nvidia-cudnn-cu12==8.9.2.26
nvidia-cufft-cu12==11.0.2.54
nvidia-curand-cu12==10.3.2.106
nvidia-cusolver-cu12==11.4.5.107
nvidia-cusparse-cu12==12.1.0.106
nvidia-nccl-cu12==2.20.5
nvidia-nvjitlink-cu12==12.5.40
nvidia-nvtx-cu12==12.1.105
oauthlib==3.2.2
openai==1.30.3
opencv-python==4.8.1.78
opencv-python-headless==4.8.1.78
openpyxl 
opt-einsum==3.3.0
optree==0.11.0
orjson==3.9.9
overrides 
packaging 
pandas==2.0.2
pandocfilters 
panel 
param 
parsel 
parso 
partd 
pathspec 
pathtools==0.1.2
patsy==0.5.3
pedalboard==0.7.4
pep8==1.7.1
pexpect==4.9.0
pickleshare 
pillow==10.3.0
pkce 
pkginfo 
platformdirs==3.11.0
plotly 
pluggy==1.5.0
ply==3.11
pooch==1.8.2
prefigure==0.0.9
prettytable==3.10.0
progressbar==2.5
prometheus-client 
prompt-toolkit 
Protego 
protobuf==3.19.6
psutil==5.9.8
ptyprocess 
PuLP==2.7.0
pure-eval 
py-cpuinfo 
pyarrow==16.0.0
pyasn1==0.5.0
pyasn1-modules==0.3.0
pycocotools==2.0.7
pycodestyle 
pycosat==0.6.3
pycparser 
pyct 
pycurl 
pydantic==1.10.15
pydantic_core==2.10.1
pydeck==0.9.0
PyDispatcher==2.0.5
pydocstyle 
pydub==0.25.1
pyerfa 
pyflakes 
Pygments==2.17.2
PyJWT 
pylint 
pylint-venv 
pyloudnorm==0.1.1
pyls-spyder==0.4.0
pynndescent==0.5.12
pyodbc 
pyOpenSSL 
pyparsing==3.1.1
pypng==0.20220715.0
PyQRCode==1.2.1
PyQt5==5.15.10
PyQt5-sip 
PyQtWebEngine==5.15.6
PySocks 
pystoi==0.4.1
pytest==8.2.0
pytest-cov==5.0.0
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger 
python-lsp-black 
python-lsp-jsonrpc 
python-lsp-server 
python-multipart==0.0.6
python-slugify 
python-snappy 
pytoolconfig 
pytorch-lightning==2.1.0
pytz==2023.3.post1
pyviz_comms 
PyWavelets==1.4.1
pyxdg 
PyYAML 
pyzmq 
QDarkStyle 
qstylizer 
QtAwesome 
qtconsole 
QtPy 
queuelib 
randomname==0.2.1
referencing 
regex 
requests 
requests-file 
requests-oauthlib==1.3.1
requests-toolbelt 
resampy==0.4.3
rfc3339-validator 
rfc3986-validator 
rich==13.7.1
rope 
rpds-py 
rsa==4.9
Rtree 
ruamel-yaml-conda 
ruamel.yaml 
s3fs 
safetensors==0.4.3
scikit-image 
scikit-learn 
scikit-learn-intelex==20230426.111612
scipy==1.11.3
Scrapy 
seaborn==0.13.2
SecretStorage 
semantic-version==2.10.0
semver 
Send2Trash 
sentencepiece==0.1.99
sentry-sdk==2.1.1
service-identity 
setproctitle==1.3.3
sip 
six 
smart-open 
smmap==5.0.1
sniffio 
snowballstemmer 
sortedcontainers 
SoundFile==0.10.2
soupsieve 
Sphinx 
sphinxcontrib-applehelp 
sphinxcontrib-devhelp 
sphinxcontrib-htmlhelp 
sphinxcontrib-jsmath 
sphinxcontrib-qthelp 
sphinxcontrib-serializinghtml 
spyder 
spyder-kernels 
SQLAlchemy 
stable-audio-tools==0.0.16
stack-data==0.6.3
starlette==0.22.0
statsmodels 
streamlit==1.34.0
supervision==0.15.0
sympy 
tables 
tabulate 
TBB==0.2
tblib 
tenacity==8.3.0
tensorboard==2.16.2
tensorboard-data-server==0.7.1
tensorflow==2.16.1
tensorflow-io-gcs-filesystem==0.37.0
termcolor==2.4.0
terminado 
text-unidecode 
textdistance 
thop==0.1.1.post2209072238
threadpoolctl 
three-merge 
tifffile 
timm==0.9.7
tinycss2 
tldextract 
tokenizers==0.19.1
toml==0.10.2
tomli 
tomlkit 
toolz 
torch==2.3.1
torch-stoi==0.2.1
torchaudio==2.3.1
torchdiffeq==0.2.4
torchlibrosa==0.1.0
torchmetrics==0.11.4
torchsde==0.2.6
torchvision==0.18.1
tornado==6.4
tqdm==4.66.1
traitlets==5.14.2
trampoline==0.1.2
transformers==4.40.2
triton==2.3.1
truststore 
Twisted 
typing_extensions==4.8.0
tzdata 
uc-micro-py 
ujson==5.9.0
ultralytics==8.0.42
umap-learn==0.5.6
unicodedata2 
Unidecode 
urllib3 
uvicorn==0.20.0
uvloop==0.19.0
v-diffusion-pytorch==0.0.2
vector-quantize-pytorch==1.9.14
w3lib 
wandb==0.15.4
watchdog==4.0.0
watchfiles==0.21.0
wcwidth==0.2.13
webdataset==0.2.48
webencodings==0.5.1
websocket-client 
websockets==11.0.3
Werkzeug==3.0.0
wget==3.2
whatthepatch 
widgetsnbextension 
wrapt 
wurlitzer 
x-transformers==1.26.6
xarray 
xyzservices 
yapf 
yarl 
zict 
zipp 
zope.interface 
zstandard 
